body {
    display: flex;
    flex-direction: column;
    align-items: center;;
}

.page-container {
    border: 3px solid pink;
    text-align: center;
    padding: 12px;
}

.upper-box {
    align-items: center;
    border: 3px solid rgb(48, 201, 122);
    display: flex;
    flex-direction: column;
    padding: 8px;
}

.lower-box {
    border: 3px solid orange;
    display: grid;
    grid-template-columns: 70% 30%;
}

.weather-box {
    border: 3px solid blueviolet;
}

.weather-box-item {
    margin-bottom: 16px;
}

.search-history {
    align-items: center;
    border: 3px solid brown;
    padding: 8px;
    padding-top: 0px;
}

.search-history-links {
    display: flex;
    flex-direction: column;
    align-items: center;
}

li {
    list-style: none;
}