body{
  align-items: center;
  display: flex;
  font-family: 'Atkinson Hyperlegible', sans-serif;
  /* font-family: 'Merriweather Sans', sans-serif; */
  font-weight: normal;
  flex-direction: column;
  text-align: left;
}
.initSearchArea{
  color: lightslategray;
}
.container{
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 95%;
}
.banner-form{
  background-color: rgb(73, 137, 144);
  border:3px solid black;
  border-radius: 8px;
  color: white;
  text-align: center;
  margin: 10 auto 40 10;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10 auto 40 10;
  width: 90%;
  
}

.search-results{
  display: grid;
  grid-template-columns: 25% 50% 25%;
  width: 90%;
}
#city-results{
  border: 3px solid rgb(11, 230, 121);
  background-color: rgb(238, 227, 227);
  border-radius: 8px;
  color:rgb(45, 39, 42);
  display: flex;
  flex-direction: column;
  line-height: 30px;
  margin: 5%;
  min-height: 50px;
  padding:5%;
  text-align: center;
}

.hide{
  display: none;
}

#previous-searches{
  align-items: left;
  display:flex;
  flex-direction: column;
  line-height: 18px;
  padding-top: 20px;
}
.extra-features{
  border: 1px solid rgb(45, 39, 39);
  /* background-color:rgb(45, 39, 39); */
  color:rgb(10, 7, 3);
  display: grid;
  grid-template-columns: 30% 30% 30%;
  width: 80%;
}
input{
  margin-bottom: 20px;
}
ul {
  list-style: none;
}
.smallFont{
  font-size: smaller;
}

.left-justify{
  border: 3px solid green;
  display: flex;
  flex-direction: column;
  justify-content: left;
}
.forecast{
  padding: 15px;
  margin-left: 5px;
  line-height: 40px;
}
.today{
  border: 3px solid rgb(172, 168, 168); 
  border-radius: 8px;
  display:flex;
  flex-direction: column;
  /* margin-left: -20px; */
  min-height: 180px;
  padding: 10px;
}
.tomorrow{
  border: 3px solid rgb(172, 168, 168); 
  border-radius: 8px;
  display:flex;
  flex-direction: column;
  min-height: 170px;
}
.day-after-tomorrow{
  border: 3px solid rgb(172, 168, 168); 
  border-radius: 8px;
  display:flex;
  flex-direction: column;
  min-height: 170px;
  padding: 10px;
}
#three-day-forecast{
  display: flex;
  text-align: center;
  
}
#three-day-forecast > h4{
font-weight: bold;
}
