body{
  align-items: center;
  display: flex;
  font-family: 'Atkinson Hyperlegible', sans-serif;
  font-family: 'Merriweather Sans', sans-serif;
  flex-direction: column;
  text-align: center;
}
.container{
  align-items: center;
  border:3px solid rgb(234, 0, 234);
  display: flex;
  flex-direction: column;
  width: 80%;
}
.banner-form{
  background-color: rgb(73, 137, 144);
  border:3px solid black;
  color: white;
  justify-content: center;
  margin: 10 auto 40 10;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10 auto 40 10;
  width: 80%;
  
}

.search-results{
  border:3px solid rgb(0, 0, 234);
  display: grid;
  grid-template-columns: 70% 30%;
  width: 60%;
}
#city-results{
  border: 3px solid orange;
}
input{
  margin-bottom: 20px;
}
ul {
  list-style: none;
}
